<!-- Projects Row -->
<div class="row">
    <h2>Booking order</h2>
    <hr>
    <div class="col-sm-8">
        <div class="panel panel-default">
            <div class="panel-heading">Thong tin nguoi mua hang</div>
            <div class="panel-body">
                <%= form_for @order, url: {action: "booking"}, html: {class: ""} do |item|  %>
                    <div class="form-group">
                        <%= item.label :first_name, for: "input-first-name", class: "control-label" %>
                        <div class="">
                            <%= item.text_field :first_name, class: "form-control", id: "input-first-name", placeholder: "First name" %>
                            <% if @order.errors.include?(:first_name)%>
                            <ul>
                                <% @order.errors.full_messages_for(:first_name).each do |err| %>
                                    <li><span id="helpBlock" class="text-danger"><%= err %></span></li>
                                <% end %>
                            </ul>
                        <% end %>
                        </div>
                    </div>
                    <div class="form-group">
                        <%= item.label :last_name, for: "input-last-name", class: "control-label" %>
                        <div class="">
                            <%= item.text_field :last_name, class: "form-control", id: "input-last-name", placeholder: "Last name" %>
                            <% if @order.errors.include?(:last_name)%>
                                <ul>
                                    <% @order.errors.full_messages_for(:last_name).each do |err| %>
                                        <li><span id="helpBlock" class="text-danger"><%= err %></span></li>
                                    <% end %>
                                </ul>
                            <% end %>
                        </div>
                    </div>
                    <div class="form-group">
                        <%= item.label :phone, for: "input-phone", class: "control-label" %>
                        <div class="">
                            <%= item.text_field :phone, class: "form-control", id: "input-phone", placeholder: "Phone" %>
                            <% if @order.errors.include?(:phone)%>
                                <ul>
                                    <% @order.errors.full_messages_for(:phone).each do |err| %>
                                        <li><span id="helpBlock" class="text-danger"><%= err %></span></li>
                                    <% end %>
                                </ul>
                            <% end %>
                        </div>
                    </div>
                    <div class="form-group">
                        <%= item.label :email, for: "input-email", class: "control-label" %>
                        <div class="">
                            <%= item.email_field :email, class: "form-control", id: "input-email", placeholder: "Email" %>
                            <% if @order.errors.include?(:email)%>
                                <ul>
                                    <% @order.errors.full_messages_for(:email).each do |err| %>
                                        <li><span id="helpBlock" class="text-danger"><%= err %></span></li>
                                    <% end %>
                                </ul>
                            <% end %>
                        </div>
                    </div>
                    <div class="form-group">
                        <%= item.label :address, for: "input-address", class: "control-label" %>
                        <div class="">
                            <%= item.text_field :address, class: "form-control", id: "input-address", placeholder: "Address" %>
                            <% if @order.errors.include?(:address)%>
                                <ul>
                                    <% @order.errors.full_messages_for(:address).each do |err| %>
                                        <li><span id="helpBlock" class="text-danger"><%= err %></span></li>
                                    <% end %>
                                </ul>
                            <% end %>
                        </div>
                    </div>
                    <div class="form-group">
                        <%= item.label :content, for: "input-content", class: "control-label" %>
                        <div class="">
                            <%= item.text_area :content, class: "form-control", rows: "8", id: "input-content", placeholder: "Content" %>
                            <% if @order.errors.include?(:content)%>
                                <ul>
                                    <% @order.errors.full_messages_for(:content).each do |err| %>
                                        <li><span id="helpBlock" class="text-danger"><%= err %></span></li>
                                    <% end %>
                                </ul>
                            <% end %>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="">
                            <button type="submit" class="btn btn-success pull-right">Xac nhan don hang</button>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="panel panel-default">
            <div class="panel-heading">Thong tin don hang</div>
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item">Tong san pham: <b><%= @totalProduct %></b></li>
                    <li class="list-group-item">Tong gia tri: <b><%= @totalAmount %></b></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- /.row -->