<!-- Projects Row -->
<div class="row">
    <h2>Shopping cart</h2>
    <table class="table table-striped table-bordered table-hover" id="list-cart">
        <thead>
            <tr>
               <th>#</th>
               <th>Image</th>
               <th>Name</th>
               <th>Price</th>
               <th>Quantity</th>
               <th>Amount</th>
               <th>Action</th>
            </tr>
        </thead>
        <% sum = 0%>
        <% if !@products.empty? %>
            <tbody>
                <% @products.each_with_index do |item, index| %>
                    <%
                        price = item.price || 0
                        totalItem = Product.get_amount_cart(price, @quantity[index])
                        sum += totalItem
                    %>
                    <tr>
                        <td><%= item.id %></td>
                        <td>
                            <a href="<%= detail_product_path(item) %>">
                                <img class="img-responsive" src="<%= item.get_image_default %>" alt="">
                            </a>
                        </td>
                        <td><%= item.get_title(30) %></td>
                        <td><%= item.get_price %></td>
                        <td><input type="text" size="5" class="cart-quantity" data-update-amount="#amount-<%= item.id %>" data-update-total-amount="#total-amount" data-product-id="<%= item.id %>" name="quantity[<%= item.id %>]" data-url="<%= update_cart_path() %>" value="<%= @quantity[index] %>"></td>
                        <td id="amount-<%= item.id %>"><%= convert_number_to_currency(totalItem) %></td>
                        <td><a class="delete-cart" data-product-id="<%= item.id %>" data-update-total-amount="#total-amount" data-url="<%= delete_cart_path() %>" href="#" title="Xoa khoi gio hang"><i class="glyphicon glyphicon-remove"></i></a></td>
                    </tr>
                <% end %>
            </tbody>
            <tfoot>
                <tr>
                    <td>Sum</td>
                    <td colspan="4"><b id="total-amount"><%= convert_number_to_currency(sum) %></b></td>
                    <td colspan="2"><button class="btn btn-success center" style="margin: 0 auto;">Dat hang</button></td>
                </tr>
            </tfoot>
        <% else %>
            <tr>
                <td colspan="7">Khong co san pham nao trong gio hang</td>
            </tr>
        <% end %>
    </table>
</div>
<!-- /.row -->
<hr>
<script>
    $(document).ready(function(){
        $('body').on('keyup', '.cart-quantity', function(e) {
            // e.defaultPrevented();
            var quantity = $(this).val();
            quantity = parseInt(quantity) || 1;
            var productId = $(this).attr('data-product-id');
            var url = $(this).attr('data-url');
            var amountItem = $(this).attr('data-update-amount');
            var totalAmount = $(this).attr('data-update-total-amount');
                console.log(productId);
            if(typeof quantity !== 'undefined' && typeof productId !== 'undefined' && typeof url !== 'undefined') {
                $.ajax({
                    type: "POST",
                    url: url,
                    data: {quantity: quantity, product_id: productId},
                    success: function(result) {
                        if (result.status == 1) {
                            $(amountItem).html(result.item_amount);
                            $(totalAmount).html(result.total_amount);
                        }
                    }
                })
            }
        });

        $('body').on('click', '.delete-cart', function (e) {
            e.preventDefault();
            var item = $(this);
            var productId = item.attr('data-product-id');
            var url = item.attr('data-url');
            var totalAmount = $(this).attr('data-update-total-amount');
            if (typeof productId !== 'undefined' && typeof url !== 'undefined') {
                $.ajax({
                    type: "POST",
                    url: url,
                    data: {product_id: productId},
                    success: function(result) {
                        if (result.status == 1) {
                            item.parents('tr').remove();
                            $(totalAmount).html(result.total_amount);
                            if (result.total_product == 0) {
                                $('#list-cart tbody tr').remove();
                                $('#list-cart tfoot').remove();
                                $('#list-cart tbody').append('<tr><td colspan="7">Khong co san pham nao trong gio hang</td></tr>');
                            }
                        }
                    }
                });
            }
        });
    });
</script>