<!-- Projects Row -->
<div class="row">
    <h2>Shopping cart</h2>
    <table class="table table-striped table-bordered table-hover" id="list-cart">
        <thead>
            <tr>
               <th>#</th>
               <th>Image</th>
               <th>Name</th>
               <th>Price</th>
               <th>Quantity</th>
               <th>Amount</th>
               <th>Action</th>
            </tr>
        </thead>
        <% sum = 0%>
        <% if !@products.empty? %>
            <tbody>
                <% @products.each_with_index do |item, index| %>
                    <%
                        price = item.price || 0
                        totalItem = Product.get_amount_cart(price, @quantity[index])
                        sum += totalItem
                    %>
                    <tr>
                        <td><%= item.id %></td>
                        <td>
                            <a href="<%= detail_product_path(item) %>">
                                <img class="img-responsive" src="<%= item.get_image_default %>" alt="">
                            </a>
                        </td>
                        <td><%= item.get_title(30) %></td>
                        <td><%= item.get_price %></td>
                        <td><input type="text" size="5" class="cart-quantity" data-update-amount="#amount-<%= item.id %>" data-update-total-amount="#total-amount" data-product-id="<%= item.id %>" name="quantity[<%= item.id %>]" data-url="<%= update_cart_path() %>" value="<%= @quantity[index] %>"></td>
                        <td id="amount-<%= item.id %>"><%= convert_number_to_currency(totalItem) %></td>
                        <td><a class="delete-cart" data-product-id="<%= item.id %>" data-update-total-amount="#total-amount" data-url="<%= delete_cart_path() %>" href="#" title="Xoa khoi gio hang"><i class="glyphicon glyphicon-remove"></i></a></td>
                    </tr>
                <% end %>
            </tbody>
            <tfoot>
                <tr>
                    <td>Sum</td>
                    <td colspan="4"><b id="total-amount"><%= convert_number_to_currency(sum) %></b></td>
                    <td colspan="2"><a href="<%= booking_path() %>" class="btn btn-success center" style="margin: 0 auto;">Dat hang</button></td>
                </tr>
            </tfoot>
        <% else %>
            <tr>
                <td colspan="7">Khong co san pham nao trong gio hang</td>
            </tr>
        <% end %>
    </table>
</div>
<!-- /.row -->
<hr>
<script>
    $(document).ready(function(){
        
    });
</script>