<!-- Projects Row -->
<div class="row">
    <% @products.each do |item| %>
        <div class="col-md-4 portfolio-item">
            <a href="<%= detail_product_path(item) %>">
                <img class="img-responsive" src="<%= item.get_image_default %>" alt="">
            </a>
            <h3>
            <a href="<%= detail_product_path(item) %>"><%= item.get_title(30) %></a>
            </h3>
            <p><%= item.get_description(50) %></p>
        </div>
    <% end %>
</div>
<!-- /.row -->
<hr>
<!-- Pagination -->
<div class="row text-center">
    <div class="col-lg-12">
        <%= will_paginate @products, renderer: BootstrapPagination::Rails %>
    </div>
</div>
<!-- /.row -->