<h2 class="sub-header">Create new Category</h2>
<%= form_for @category, url: {action: "create"}, html: {class: "form-horizontal", multipart: true} do |item|  %>
<form class="form-horizontal">
<% if !flash[:notice].blank? %>
   <div class = "alert alert-info">
      <%= flash[:notice] %>
   </div>
<% end %>
	<div class="form-group">
		<%= item.label :title, for: "input-title", class: "col-sm-2 control-label" %>
		<div class="col-sm-10">
			<%= item.text_field :title, class: "form-control", id: "input-title", placeholder: "Title" %>
			<% if @category.errors.include?(:title)%>
                <ul>
	                <% @category.errors.full_messages_for(:title).each do |err| %>
	                    <li><span id="helpBlock" class="text-danger"><%= err %></span></li>
	                <% end %>
                </ul>
            <% end %>
		</div>
	</div>
	<div class="form-group">
		<%= item.label :description, for: "input-description", class: "col-sm-2 control-label" %>
		<div class="col-sm-10">
			<%= item.text_area :description, class: "form-control", id: "input-description", row: "3" %>
		</div>
	</div>
	<div class="form-group">
		<%= item.label :image, for: "input-image", class: "col-sm-2 control-label" %>
		<div class="col-sm-10">
			<%= file_field(:category, :image) %>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<button type="submit" class="btn btn-default">Create</button>
		</div>
	</div>
</form>
<% end %>