<%= render partial: "partials/message", locals: { account: @buyer } %>
<h2 class="sub-header"><%= t('categories.heading-list') %></h2>
<%= link_to t('general.btn-add-new'), create_category_path, class: "btn btn-success" %>
<div class="table-responsive" id="list-categories">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>#</th>
				<th>Title</th>
				<th>Parent</th>
				<th><%= t('general.lbl-action') %></th>
			</tr>
		</thead>
		<tbody>
			<% @categories.each do |item| %>
			<tr>
				<td><%= item.id %></td>
				<td><%= item.title %></td>
				<td>
					<% if parent = Category.where(:id => item.parent_id).first %>
					<%= parent.title %>
					<% else %>
					<%= '-' %>
					<% end %>
				</td>
				<td>
					<%= link_to t('general.btn-edit'), edit_category_path(item), class: "btn btn-success" %>
					<%= link_to t('general.btn-delete'), delete_category_path(item), method: :delete,
					data: { confirm: t('general.lbl-confirm-delete'), url: delete_category_path(item), list: "#list-categories" }, class: "btn btn-danger delete-item" %>
				</td>
			</tr>
			<% end %>
			
		</tbody>
		<tfoot>
			<tr>
				<td colspan="4">
					<%= will_paginate @categories %>
				</td>
			</tr>
		</tfoot>
	</table>
</div>