<table class="table table-striped">
	<thead>
		<tr>
			<th>#</th>
			<th>Title</th>
			<th>Parent</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		<% @categories.each do |item| %>
		<tr>
			<td><%= item.id %></td>
			<td><%= item.title %></td>
			<td>
				<% if parent = Category.where(:id => item.parent_id).first %>
				<%= parent.title %>
				<% else %>
				<%= '-' %>
				<% end %>
			</td>
			<td>
				<%= link_to "Edit", edit_category_path(item), class: "btn btn-success" %>
				<%= link_to "Delete", delete_category_path(item), method: :delete,
              data: { confirm: "Are you sure?", url: delete_category_path(item) }, class: "btn btn-danger delete-item" %>
			</td>
		</tr>
		<% end %>
	</tbody>
	
</table>