<h2 class="sub-header"><%= t('products.heading-update') %></h2>
<%= form_for @product, url: {action: "edit"}, html: {class: "form-horizontal", multipart: true} do |item|  %>
    <div class="form-group">
        <%= item.label :title, for: "input-title", class: "col-sm-2 control-label" %>
        <div class="col-sm-10">
            <%= item.text_field :title, class: "form-control", id: "input-title", placeholder: "Title" %>
            <% if @product.errors.include?(:title)%>
                <ul>
                    <% @product.errors.full_messages_for(:title).each do |err| %>
                        <li><span id="helpBlock" class="text-danger"><%= err %></span></li>
                    <% end %>
                </ul>
            <% end %>
        </div>
    </div>
    <div class="form-group">
        <%= item.label :model, for: "input-model-thumb", class: "col-sm-2 control-label" %>
        <div class="col-sm-10">
            <%= item.text_field :model, class: "form-control", id: "input-model-thumb" %>
        </div>
    </div>
    <div class="form-group">
        <%= item.label :price, for: "input-price-thumb", class: "col-sm-2 control-label" %>
        <div class="col-sm-10">
            <%= item.number_field :price, class: "form-control", id: "input-price-thumb" %>
        </div>
    </div>
    <div class="form-group">
        <%= item.label :category, for: "input-category", class: "col-sm-2 control-label" %>
        <div class="col-sm-10">
            <div class="row">
                <div class="col-xs-5">
                    <%= collection_select(:products, nil, Category.all, :id, :title, {prompt: nil}, { class: "multiselect form-control", size: "8", multiple: "multiple", "data-right": "#multiselect_to_1", "data-right-all": "#right_All_1", "data-right-selected": "#right_Selected_1", "data-left-all": "#left_All_1", "data-left-selected": "#left_Selected_1"}) %>
                    
                </div>
                <div class="col-xs-2">
                    <button type="button" id="right_All_1" class="btn btn-block"><i class="glyphicon glyphicon-forward"></i></button>
                    <button type="button" id="right_Selected_1" class="btn btn-block"><i class="glyphicon glyphicon-chevron-right"></i></button>
                    <button type="button" id="left_Selected_1" class="btn btn-block"><i class="glyphicon glyphicon-chevron-left"></i></button>
                    <button type="button" id="left_All_1" class="btn btn-block"><i class="glyphicon glyphicon-backward"></i></button>
                </div>
                <div class="col-xs-5">
                    <select name="categories[]" id="multiselect_to_1" class="form-control" size="8" multiple="multiple">
                        <%= @listCategoriesSelected.each do |category| %>
                            <option value="<%= category.id %>" selected><%= category.title %></option>
                        <% end %>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <%= item.label :description, for: "input-description", class: "col-sm-2 control-label" %>
        <div class="col-sm-10">
            <%= item.text_area :description, class: "form-control", id: "input-description", row: "3" %>
        </div>
    </div>
    <div class="form-group">
        <%= item.label :image, for: "input-image", class: "col-sm-2 control-label" %>
        <div class="col-sm-10">
            <input id="upload-files-edit" name="files[]" type="file" multiple=true class="file-loading">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default"><%= t('general.btn-update') %></button>
            <%= link_to t('general.btn-cancel'), {controller: "products"}, class: "btn btn-danger" %>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function(){
            var previews = [];
            var previewsConfig = [];
            <% @images.each do |image| %>
                previews.push("<%= image.data %>");
                previewsConfig.push({caption: "<%= image.name %>", width: "120px", url: '/delete_file', key: <%= image.id %>})
            <% end %>
            $("#upload-files-edit").fileinput({
                uploadUrl: '/upload_files', // server upload action
                uploadAsync: false,
                showUpload: false,
                showUploadedThumbs: false,
                layoutTemplates: {
                    actionUpload: ''
                },
                maxFileCount: 5,
                uploadExtraData: {authenticity_token: $('#authenticity_token').attr('value')},
                initialPreview: previews,
                initialPreviewAsData: true, // identify if you are sending preview data only and not the raw markup
                initialPreviewFileType: 'image', // image is the default and can be overridden in config below
                initialPreviewConfig: previewsConfig,
                purifyHtml: true,
                overwriteInitial: false,
            }).on('filedeleted', function(event) {
                console.log("fileclear");
            }).on('filesorted', function(event, params) {
                // console.log('File sorted ', params.previewId, params.oldIndex, params.newIndex, params.stack);

                var data = {};
                $.each(params.stack, function(key, value) {
                    data['sort[' + (key+1) + ']'] = value.key;
                });
                $.ajax({
                    url: "/files_sort",
                    type: "POST",
                    data: data,
                    success: function(result){
                        console.log(result);
                    }
                })
            });
        });
    </script>
    <script type="text/javascript">
        jQuery(document).ready(function($) {
        $('.multiselect').multiselect();
        });
    </script>
<% end %>