<!-- Brand and toggle get grouped for better mobile display -->
<div class="navbar-header">
	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	<span class="sr-only">Toggle navigation</span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
	</button>
	<a class="navbar-brand" href="/">Demo Ruby</a>
</div>
<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	<ul class="nav navbar-nav">
		<li>
			<a href="<%= products_path() %>">San pham</a>
		</li>
		<li>
			<a href="<%= cart_path() %>">(<span id="label-header-cart"><%= get_total_cart %></span> items) in Shopping cart</a>
		</li>
	</ul>
	<ul class="nav navbar-nav navbar-right">
		<% if current_client %>
	        <li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_client.email.blank? ? current_client.name : current_client.email %> <span class="caret"></span></a>
	          <ul class="dropdown-menu">
	            <li><a href="#">Profile</a></li>
	            <li><a href="#">Another action</a></li>
	            <li><a href="#">Something else here</a></li>
	            <li role="separator" class="divider"></li>
	            <li><a href="<%= logout_path() %>">Thoat</a></li>
	          </ul>
	        </li>
		<% else %>
	        <li>
	        	<a href="<%= signup_path() %>">Dang ky</a>
	        </li>
	        <li>
	        	<a href="<%= signin_path() %>">Dang nhap</a>
	        </li>
        <% end %>
      </ul>
</div>
<!-- /.navbar-collapse -->